/* SECTION */
.deal-section {
  padding: 80px 0;
  background: #fff;
}

/* MAIN CONTAINER */
.deal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LEFT IMAGE */
.deal-image {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.deal-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* BADGE */
.deal-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 90px;
  height: 90px;
  background: #ff7a00;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.deal-badge small {
  font-size: 12px;
  font-weight: normal;
}

/* RIGHT CONTENT */
.deal-content {
  flex: 1;
  padding-left: 40px;
}

.deal-content h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.deal-content h2 span {
  color: #ff7a00;
}

.deal-content h4 {
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.deal-content p {
  line-height: 1.7;
  margin-bottom: 30px;
}

.deal-btn {
  background:#c56b17;
  color: #fff;
  border: none;
  padding: 14px 35px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.deal-btn:hover{
  background-color: rgb(0, 0, 52);
}

@media (max-width: 992px) {
  .deal-content {
    padding-left: 20px;
  }

  .deal-content h2 {
    font-size: 30px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .deal-container {
    flex-direction: column;
    text-align: center;
  }

  .deal-image {
    margin-bottom: 30px;
  }

  .deal-badge {
    left: 50%;
    transform: translateX(-50%);
  }

  .deal-content {
    padding-left: 0;
  }

  .deal-content h2 {
    font-size: 26px;
  }

  .deal-content p {
    font-size: 15px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .deal-badge {
    width: 70px;
    height: 70px;
    font-size: 14px;
  }

  .deal-btn {
    padding: 12px 28px;
    font-size: 15px;
  }
}
