.intro-hero {
  height: 100vh;
  background-image: url("../../assets/home/h1.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.45);
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero-subtitle {
  color: #f28123;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.hero-title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
}

.hero-buttons button {
  margin: 0 10px;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 15px;
}

.btn-orange {
  background-color: #f28123;
  color: #fff;
  border: none;
}
.btn-orange:hover{
 background-color: rgb(0, 0, 29);
}

.btn-outline {
  background: transparent;
  color: #fff;
  border: 2px solid #f28123;
}
.btn-outline:hover{
  background-color:#f28123;
}
.info-box {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  justify-content: center;
}
.intro-info{
  background-color: rgb(240, 240, 240);
  /* height: 180px; */
  padding: 50PX;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.text h5 {
  margin: 0;
}

.text p {
  margin: 0;
  margin-top: 4px;
  font-size: 14px;
}
