.product-card {
  max-width: 380px;
  height: 450px !important;
  margin: auto;
  background-color: #ffffff; 
  transition: 
    background-color 0.4s ease,
    transform 0.4s ease,
    box-shadow 0.4s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  border-radius: 15px;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); 
  background-color: rgba(255, 255, 255, 0.85); 
  backdrop-filter: blur(4px); 
}

.rounded-pill {
  background-color: rgb(218, 117, 40);
  width: 170px;
  height: 50px;
  border: none;
  transition: background-color 0.5s ease;
}

.rounded-pill:hover {
  background-color: rgb(0, 0, 29);
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  
}
.box,
.bgcolor,
.hero,
.navbar {
  width: 100%;
}
.container,
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.product-title {
  padding: 80px 0 40px;
}

.product-title h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-title h2 span {
  color: #f28123; 
}

.title-line {
  width: 70px;
  height: 2px;
  background-color: #f28123;
  margin: 10px auto 25px;
}

.product-title p {
  max-width: 700px;
  margin: 0 auto;
  color: #555;
  font-size: 16px;
  line-height: 1.7;
}
