body {
  margin: 0;
  padding: 0;
}

.box {
  width: 100%;
  background-color: #3d4f5c;
  padding: 100px 0 80px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box p,
.box h1 {
  margin: 0;
}

.fresh{
    color: orange;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 7px;
    font-weight: 600;
    text-align: center;
}
.p1{
    font-size: 80px;
    color: white;
    /* letter-spacing: 4px; */
    font-weight: 500;
}