.bgcolor {
  background-color: #f8f9fa;
  min-height: 200px;
  display: flex;
  align-items: center;
}
/* slick track fix */
.gallery-slider {
  width: 90%;
  margin: auto;
}

/* each slide */
.gallery-img-wrap {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* logo image */
.logo-img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;   /* 🔥 MOST IMPORTANT */
}

/* kisi bhi section me 100vw avoid */
.box,
.bgcolor,
.hero,
.navbar {
  width: 100%;
}

/* bootstrap side padding remove */
.container,
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
