.product-card {
  max-width: 380px;
  height: 450px !important;
  margin: auto;
  background-color: #ffffff; 
  transition: 
    background-color 0.4s ease,
    transform 0.4s ease,
    box-shadow 0.4s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  border-radius: 15px;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); 
  background-color: rgba(255, 255, 255, 0.85); 
  backdrop-filter: blur(4px); 
}

/* Button styling */
.rounded-pill {
  background-color: rgb(218, 117, 40);
  width: 170px;
  height: 50px;
  border: none;
  transition: background-color 0.5s ease;
}

.rounded-pill:hover {
  background-color: rgb(0, 0, 29);
}
