.icon-circle {
  width: 60px;
  height: 60px;
  border: 2px dotted #f28123;   /* ORANGE dotted border */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  color: #f28123;               /* icon color */
  font-size: 22px;
  flex-shrink: 0;
}
